/*PROJECTS SECTION*/
#projectsContainer {
  /* top: 200vh;
    left: 0;
    right: 0;
    position: absolute; */
  background-image: radial-gradient(
      circle at 46% 76%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 36% 87%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 78%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 22% 99%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 38% 63%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 50%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 93% 55%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 24% 100%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 53%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 17% 5%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 53% 51%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 10% 25%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 31% 56%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 40% 69%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 33% 89%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 96% 22%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    linear-gradient(182deg, rgb(0, 87, 147), rgb(61, 188, 235));
}
.projects_heading {
  text-align: center;
  margin-top: 4rem;
}

.projects_heading h2 {
  font-size: 3rem;
  color: #fffefa;
  margin-bottom: 0.5rem;
}

.projects_heading p {
  color: #fffefa;
  font-size: 1.25rem;
  margin-top: 0;
  letter-spacing: 0.08rem;
}

.projects_gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.projects_gallery_child {
  border-radius: 6%;
  width: 40%;
  height: 10%;
  background-color: #fffefa;
  margin: 0.5rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(180, 199, 253, 0),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.projects_gallery_child:hover {
  transform: scale(1.1);
}

.projects_gallery_child_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
  color: #172b4d;
}

.projects_gallery_child_content h3 {
  font-size: 1.5rem;
}

.projects_gallery_child_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.projects_gallery_child_btn button {
  margin-left: 1rem;
}

#see_code {
  width: 3.5rem;
  height: 3rem;
  border-radius: 10%;
  background-color: black;
  border: none;
}

#see_demo {
  width: 4rem;
  height: 3rem;
  border-radius: 10%;
  background-color: #2dce89;
  color: white;
  font-weight: bold;
  border: none;
}
#see_demo a{
  color: white;
  text-decoration: none;
}

#see_code:hover {
  transform: scale(1.1);
}

#see_demo:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1150px) {
  #projectsContainer {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 550px) {
    .projects_gallery{
        flex-direction: column;
    }
    .projects_gallery_child{
        width: 70%;
    }
    .projects_gallery_child_content p{
        margin: 0 .5rem;

    }
    .projects_gallery_child_btn{
        margin-top: .5rem;
    }
}




