/*PROJECTS SECTION*/
#projectsContainer {
  display: flex;
  flex-direction: column;
  background-color: #fffefa;
  height: auto;
}
.projects_heading {
  text-align: center;
  margin-top: 4rem;
}

.projects_heading h2 {
  font-size: 3rem;
  color: #172b4d;
  margin-bottom: 0.5rem;
}

.projects_heading p {
  color: black;
  font-size: 1.25rem;
  margin-top: 0;
  letter-spacing: 0.08rem;
}

.projects_gallery {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.projects_gallery_child {
  border-radius: 6%;
  width: 40%;
  height: 10%;
  background-color: #fffefa;
  margin: 1rem 2rem;
  box-shadow: 0 4px 15px 0 rgba(52, 74, 134, 0),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.projects_gallery_child:hover {
  transform: scale(1.1);
}

.projects_gallery_child_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
  color: #172b4d;
}

.projects_gallery_child_content h3 {
  font-size: 1.5rem;
}

.project_png{
  width: 90%;
  height: auto;
  object-fit: cover;
}
.project_png img{
  width: 100%;
  height: auto;
  object-fit: cover;

}
.project_skills_used{
  display: flex;
}
.project_skills_used h3{
display: inline-block;
}

.skills_list{
  list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.skills_list li{
  display: inline-block;
  margin: .5rem;
  font-weight: bold;
}

/*ABOUT ICONS */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 1rem;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/**/
.projects_gallery_child_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.projects_gallery_child_btn button {
  margin-left: 1rem;
}

#see_code {
  width: 3.5rem;
  height: 3rem;
  border-radius: 10%;
  background-color: black;
  border: none;
}

#see_demo {
  width: 4rem;
  height: 3rem;
  border-radius: 10%;
  background-color: #2dce89;
  color: white;
  font-weight: bold;
  border: none;
}
#see_demo a{
  color: white;
  text-decoration: none;
}

#see_code:hover {
  transform: scale(1.1);
}

#see_demo:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1150px) {
  #projectsContainer {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 550px) {
    .projects_gallery{
        flex-direction: column;
    }
    .projects_gallery_child{
        width: 70%;
    }
    .projects_gallery_child_content p{
        margin: 0 .5rem;

    }
    .projects_gallery_child_btn{
        margin-top: .5rem;
    }
}




