#homeContainer {

    background-color: #fffefa;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2%;

  }
  
  .home_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;
  }
  
  .home_btn {
    padding: 0.5rem 3rem;
    background-color: #172b4d;
    color: #fffefa;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    border: 0.2rem ;
    border-radius: 3%;
    position: relative;
    z-index: 1;
    transition: ease-out 0.3s;
  }
  
  .home_btn:hover a {
    color: #172b4d;
  }
  
  .home_btn:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #fffefa;
  }
  
  .home_btn:hover:before{
    transform: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }
  
  .home_div h1 {
    font-size: 4rem;
    color: black;
    margin: 0.5rem 0;
  }
  
  .home_div p {
    font-size: 2rem;
    color: black;
  }
  
  #accent_color {
    color: #172b4d;
  }

  .btn_social:hover{
    transform: scale(1.1)
  }
  .resume_link{
    text-decoration: none;
    color: #fffefa;
  }

  @media (orientation: landscape) {
    #homeContainer{
      height: auto
    }
    .home_div{
      margin-bottom: 1rem;
    }
  }
  