/* /*6919ff purple
  fffefa
  rgb(15 25 34 / var(--tw-bg-opacity));

*/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

section {
  height: calc(100vh);
  width: 100vw;
}

/*navbar section */

nav {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fffefa;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  background-color: #172b4d;
}

span {
  font-size: 1.25rem;
  /* font-weight: bold; */
  letter-spacing: 0.1rem;
  cursor: pointer;
  margin-left: 15% ;
}


span:hover {
  text-decoration-line: underline;
  text-decoration-color: #fffefa;
}

/* HOME SECTION*/

#homeContainer {

  background-image: radial-gradient(
      circle at 46% 76%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 36% 87%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 78%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 22% 99%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 38% 63%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 50%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 93% 55%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 24% 100%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 53%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 17% 5%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 53% 51%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 10% 25%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 31% 56%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 40% 69%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 33% 89%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 96% 22%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    linear-gradient(182deg, rgb(0, 87, 147), rgb(61, 188, 235));
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.home_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
}

.home_btn {
  padding: 0.5rem 3rem;
  background-color: #fffefa;
  color: #172b4d;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  border: 0.2rem ;
  border-radius: 3%;
  position: relative;
  z-index: 1;
  transition: ease-out 0.3s;
}

.home_btn:hover {
  color: #fffefa;
}

.home_btn:before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #172b4d;
}

.home_btn:hover:before{
  transform: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.home_div h1 {
  font-size: 4rem;
  color: #fffefa;
  margin: 0.5rem 0;
}

.home_div p {
  font-size: 2rem;
  color: #fffefa;
}

#accent_color {
  color: #172b4d;
}

/*ABOUT SECTION*/

#aboutContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 100vh;
  left: 0;
  right: 0;
  position: absolute;
}

.about_me_1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #172b4d;
  color: #fffefa;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 55%;
  padding: 3rem 2rem 0 3rem ;
}

.about_me_2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3rem 2rem 0 3rem;
  position: absolute;
  left: 45%;
  top: 0;
  right: 0;
  bottom: 0;
}

.about_me_1 h2 {
  font-size: 4rem;
  color: #fffefa;
  margin-bottom: 0;
  font-weight: bold;
}

.about_me_2 h2 {
  font-size: 4rem;
  color: #172b4d;
  margin-bottom: 0;
  font-weight: bold;


}

.about_me_2 h3 {
  color: black;
  font-size: 2rem;
}

.about_me_2 p {
  color: black;
  font-size: 1rem;
  line-height: 1.5rem;
}

.about_me_1 p {
  line-height: 1.5rem ;
  font-size: 1rem;
}

.about_ul{
  margin: 2rem 0 1rem 0;
}

.about_me_2 li {
  color: black;
  font-size: 1rem;
  line-height: 1.5rem;


}
/*ABOUT TYPING ICONS*/
.typing_wrapper{
display: inline-flex;
}

.dynamic_txt{
  padding: 0;
  line-height: 3rem;
  height: 3rem;
  overflow: hidden;
}

.dynamic_txt li{
  width: 10rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  list-style: none;
  letter-spacing: 1rem;
  color: #fffefa;
  position: relative;
  top: 0;
  animation: slide 10s steps(5) infinite;
}
@keyframes slide {
  100%{
    top: -16rem
  }
}


.dynamic_txt li span{
   position: relative;
   margin: 0;
}

.dynamic_txt li span::after{
  content: "";
  position: absolute;
  background-color: #172b4d;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #fffefa;
  animation: typing 2s steps(9) infinite;

}

@keyframes typing {
  100%{
    left: 100%;
    margin: 0 -16px 0 16px;
  }
}

/*ABOUT ICONS */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*PROJECTS SECTION*/
#projectsContainer {
  top: 200vh;
  left: 0;
  right: 0;
  position: absolute;
  background-image: radial-gradient(
      circle at 46% 76%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 36% 87%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 78%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 22% 99%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 38% 63%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 50%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 93% 55%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 24% 100%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 53%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 17% 5%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 53% 51%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 10% 25%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 31% 56%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 40% 69%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 33% 89%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 96% 22%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    linear-gradient(182deg, rgb(0, 87, 147), rgb(61, 188, 235));
}
.projects_heading {
  text-align: center;
  margin-top: 4rem;
}

.projects_heading h2 {
  font-size: 3rem;
  color: #fffefa;
  margin-bottom: .5rem;
}

.projects_heading p {
  color: #fffefa;
  font-size: 1.25rem;
  margin-top: 0;
  letter-spacing: 0.08rem;
}

.projects_gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projects_gallery_child {
  border-radius: 6%;
  width: 30%;
  height: 10%;
  background-color: #fffefa;
  margin: .5rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(180, 199, 253, 0),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.projects_gallery_child:hover{
  transform: scale(1.1) 


}

.projects_gallery_child_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
  color: #172b4d;
}

.projects_gallery_child_content h3{
  font-size: 1.5rem;
}

.projects_gallery_child_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: .5rem;
}

.projects_gallery_child_btn button {
  margin-left: 1rem;
}

#see_code {
  width: 3.5rem;
  height: 3rem;
  border-radius: 10%;
  background-color: black;
  border: none;
}

#see_demo {
  width: 4rem;
  height: 3rem;
  border-radius: 10%;
  background-color: #2dce89;
  color: white;
  font-weight: bold;
  border: none;
}

#see_code:hover{
  transform: scale(1.1) 
}

#see_demo:hover{
  transform: scale(1.1) 
}

/*CONTACT SECTION*/
#contactContainer {
  top: 300vh;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
}

.contact_content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 5rem;
  margin-top: 5rem;
}

.contact_content h2 {
  font-size: 2rem;
  color: #172b4d;
  margin-bottom: 2.5rem;
}

.contact_content h3 {
  font-size: 3rem;
  margin: 0;
  padding-bottom: 1rem;
}

.contact_content p {
  margin-bottom: 3rem;
}

.icon_email{
  display: flex;
  align-items: center;
}

.icon_email p{
  margin: 0;
}

.contact_form {
  width: 50%;
  height: 100%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_form form {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5rem;
}

.label{
  margin-left: 1.5rem;
}

.input {
  margin: 1.5rem;
  border-radius: 1.5rem;
  border: .12rem solid #172b4d;
  padding: 1.25rem;
  width: 40rem;
  height: 0.25rem;
}

.input_message{
  margin: 1.5rem;
  border-radius: 1.5rem;
  border: .12rem solid #172b4d;
  padding: 1.25rem;
  width: 40rem;
  height: 10rem;
  
}

.input_send{
  height: 3rem;
  width: 8rem;
  border: /*.12rem solid #172b4d*/ none;
  border-radius: 1.25rem;
  margin: 1.5rem;
  background-color: rgb(0, 87, 147);
  color: #fffefa;
  font-size: 1.25rem;
}

.input_send:hover{
  transform: scale(1.1) 
}

.input_send:active{
  background-color: #fffefa;
  color: rgb(0, 87, 147);
} */
  /* position: relative;
  z-index: 1;
  transition: ease-out 0.3s;
}

.input_send:hover {
  color: #fffefa;
}

.input_send:before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #172b4d;
}

.input_send:hover:before{
  transform: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
} */

